body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* nav要這個... */
@media (max-width: 767px) {
    .visible-xs.collapse.in {
        display: block!important;
    }
    .visible-xs.collapse {
        display: none!important;
    }
}
